.card-panel{
    width: 200px;
    height: 120px;
    border-radius: var(--border-radius);
    background-color: var(--bg-card);
    border: 1px solid var(--border-color);
    box-sizing: border-box;
    padding: var(--padding-secondary);
    cursor: pointer;
    .card-header{
        font-size: 12px;
        font-weight: 600;
        color: var(--text-muted);
    }
    .card-content{
        padding-top: var(--padding-secondary);
    }
}