.svg-icon {
    /* 这里的宽高等于 fontSize，利用 em 单位实现大小控制 */
    width: 1em;
    height: 1em;
    vertical-align: -0.15em;
    /* 调整垂直对齐，让图标在文本中居中 */
    fill: currentColor;
    overflow: hidden;
    display: inline-block;
    /* 动画过渡 */
    transition: fill 0.3s;
    use{
        width: 1em;
        height: 1em;
    }
}