.svg-icon {
    width: 1em;
    height: 1em;
    vertical-align: -0.15em;
    fill: currentColor;
    overflow: hidden;
    display: inline-block;
    transition: fill 0.3s;
    use{
        width: 1em;
        height: 1em;
    }
}