# Logs
logs
*.log
*.tlog
*.lastbuildstate
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

# Native build artifacts
native/**/build/
dist-electron
node_modules
dist
dist-ssr
models/*.onnx
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
