.card-panel.context-menu {
    position: fixed;
    z-index: 30;
    width: 200px;
    height: auto;
    opacity: 0;
    transform: translate(0, -5px);
    transition: opacity 0.2s linear, transform 0.3s linear, left 0.2s linear, top 0.2s linear;
    border: none;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.15);

    .card-content{
        padding-top: 0;
    }

}