.header-bar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: calc(var(--padding-secondary) * 3);
    width: 100%;
    padding-bottom: var(--padding-secondary);
    border-bottom: 1px solid var(--border-color);
    box-sizing: border-box;
    background-color: var(--bg-sidebar);
    color: var(--text-muted);

    .header-search-input {
        flex: 1;

        span.ant-input-affix-wrapper {
            background-color: var(--bg-card);
            color: var(--text-muted);

            input.ant-input::placeholder {
                color: var(--text-muted);
            }

            input.ant-input:focus::placeholder {
                color: var(--text-primary); 
            }
        }

    }

    .header-bar-right {
        display: flex;
        justify-content: flex-end;
        align-items: center;
        gap: var(--padding-secondary);
    }
}