.menu-bar {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    gap: var(--padding-primary);
    width: 48px;
    height: calc(100% - var(--padding-primary) * 2);
    position: relative;
    border-right: 1px solid var(--border-light);
    background-color: var(--bg-primary);
    padding: var(--padding-primary) 0;
    box-sizing: border-box;

    .menu-item {
        width: 32px;
        height: 32px;
        cursor: pointer;
        border-radius: 4px;
        display: flex;
        justify-content: center;
        align-items: center;
        transition: background-color 0.3s ease;

        &:hover {
            background-color: var(--action-hover);
        }

        // 激活状态
        &--active,
        &--active:hover {
            background-color: var(--action-selected, #e6f4ff);
            color: var(--primary-color, #1677ff);
        }

        &:last-child {
            position: absolute;
            bottom: calc(var(--padding-primary) / 2);
        }
    }
}

.menu-setting-item {
    padding: var(--padding-secondary);
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: calc(var(--gap) * 4);

    .setting-item-title {
        display: flex;
        justify-content: flex-start;
        align-items: center;
        gap: calc(var(--gap) * 2);
    }
    .setting-option{
        &.select{
            width: 144px;
        }
        &.segmented{
            .ant-segmented-item.ant-segmented-item-selected{
                color:var(--text-active);
            }
        }
    }
}