.home {
    width: calc(100% - var(--padding-secondary) * 2);
    height: 100%;
    overflow: hidden;
    position: inherit;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    padding: 0 var(--padding-secondary);
    box-sizing: border-box;

    .home-header {
        width: 100%;
        height: 42px;

        .header-bar-right{
            .refresh-button{
                border:1px solid var(--border-color);
                background-color: var(--bg-card);
                &:hover{
                    background-color: var(--bg-hover);
                    border-color: color-mix(in oklab, var(--color-primary) 50%, transparent);
                }
            }
        }
    }

    .home-content {
        flex: 1;
        padding-top: var(--padding-secondary);
        padding-bottom: 0;
        box-sizing: border-box;
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;

        .card-list {
            display: grid;
            grid-template-columns: repeat(4, 1fr);
            gap: var(--padding-secondary);
            width: 100%;
            padding-bottom: var(--padding-secondary);
            box-sizing: border-box;

            .content-box {
                line-height: 1;
            }
        }

        .list-container{
            width: 100%;
            border: 1px solid var(--border-color);
            border-radius: var(--border-radius);
        }

        .virtual-list {
            flex: 1;
            box-sizing: border-box;
            width: 100%;
        }

    }
}

.context-menu .card-content {

    .hide-columns,
    .list-item-context {
        padding: var(--padding-secondary);
        box-sizing: border-box;
        display: flex;
        gap: var(--padding-secondary);
        justify-content: flex-start;
        align-items: center;
        border-radius: var(--border-radius);

        &:hover {
            background-color: var(--bg-secondary);
        }
    }

    .list-item-context {
        padding: calc(var(--padding-secondary) / 2);
        justify-content: center;

        p {
            padding: 0;
            margin: 0;
        }
    }
}