/* theme.css */

:root {
  --color-primary: #0088e9;
  --title-bar-height: 30px;
  --padding-primary: 16px;
  --padding-secondary: 12px;
  --padding-tertiary: 8px;
  --border-radius: 4px;
  --gap: 4px;


  --bg-sidebar: #edf0f4;
  --bg-hover: lab(91.8523% -.891835 -4.41418);

  --bg-page: lab(97.0913% -.307769 -1.47733);

  --bg-page-secondary: lab(94.1868% -.457764 -2.21365);

  --bg-card: lab(100% 0 0);



  --text-primary: #172029;
  --text-active-primary: var(--color-primary);
  --text-muted-secondary: lab(16.4313% -.972167 -5.78371);
  --text-muted: lab(60.5313% -.87291 -4.40395);
  --text-sidebar: lab(36.1604% -1.02216 -5.4705);
  --text-sidebar-hover: var(--text-primary);

  --border-color: lab(88.3821% -.604183 -2.94807);

  --canvas-gradient: #d9d9d9;

}

[data-theme='dark'] {


  --bg-sidebar: #0b0f14;
  --bg-hover: lab(18.7359% -1.15503 -7.2063);

  --bg-page: lab(6.15655% -.647351 -4.75174);

  --bg-page-secondary: lab(16.4313% -.972167 -5.78371);

  --bg-card: lab(11.2127% -.879765 -5.40984);



  --text-primary: #eceff2;
  --text-active-primary: var(--color-primary);
  --text-muted-secondary: lab(16.4313% -.972167 -5.78371);
  --text-muted: lab(60.5313% -.87291 -4.40395);
  --text-sidebar: lab(65.1715% -.876606 -4.40595);
  --text-sidebar-hover: lab(94.1891% -.3829 -1.84566);

  --border-color: lab(100% 0 0 / .08);

  --canvas-gradient: #6b6969;
}

html{
  scrollbar-color: rgb(234, 234, 234) transparent;
}

html[data-theme='dark']{
  scrollbar-color: rgba(234, 234, 234, 0.204) transparent;
}

/* 全局应用基础样式 */
body {
  background-color: var(--bg-page);
  color: var(--text-primary);
  transition: background-color 0.3s ease, color 0.3s ease; /* 添加平滑过渡 */
}

